*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.container{
    margin: 40px auto;
    height: 70%;
    width: 50%;
}
.card-container{
    margin: 20px ;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    height: 120px;
    width: 300px;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    position: absolute;
    top: 5px;
    right: 15px;
}