body{
 background-color:#F0F0F0;
}

.blog-post-card{
  margin:auto;
  padding:auto;
  margin-top: 15px;
  border-radius:15px;
  background-color:white;
  width:350px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow:hidden;
}
.post-img{
  height:40%;
  width:100%;
  border-bottom:2px solid;
}

.post-content{
  padding:5px;
}
.read-more:hover{
  background-color:grey;
}
.read-more{
  color:white;
  background-color:black;
  margin:10px;
  display:inline-block;
  border-radius:10px;
  padding:10px;
  text-decoration: none;
}
.post-title {
  color: rgb(74, 15, 15);
}

.post-excerpt {
  color: black;
}
