*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  margin-top:0px;
  margin-bottom:0px;
  padding-top:50px;
  padding-bottom:50px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width:50vw;
  min-height: calc(100vh - 100px);
}
hr{
  width:90%;
  height: 3px;
  background-color: black;
}
main{
  width:100%;
  margin: 10px;
  line-height: 25px;
}
.sections{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}
.section{
  flex:1;
  min-width: 200px;
  margin: 10px;
  text-align: left;
}
.section h2{
  font-size: 1.2em;
  font-weight: bold;
}
.section ul{
  padding: 20px;
}
footer{
  margin: 20px;
}